<footer class="site-footer">
	<div class="wrapper">
		<div class="footer-col-wrapper">
			<div class="footer-col footer-col-1">
				<p>{{ site.description }}</p>
				<p class="cc-license">
					<br />{% include icon-cc-license.html %}<br />
					The Magnus Archives及本站及粉丝翻译文本的知识共享许可协议（CC License）为<a href="https://creativecommons.org/licenses/by-nc-sa/4.0/deed.zh">署名标示（BY）-非商业性使用（NC）-相同方式共享（SA)</a>。
				</p>
			</div><!-- /div.footer-col-1 -->
			<div class="footer-col footer-col-2">
				
				<p><a target="_blank" href="https://docs.google.com/document/d/1KLuJa1AaT8m5rzBOvvtzeEWT9piQ715bss4hkbLBXmA/edit"><span class="icon icon--alert">{% include icon-alert.svg %}</span> 非官方内容预警（英）</a></p>

				<p><a target="_blank" href="https://snarp.github.io/magnus_archives_transcripts/"><span class="icon icon--eye">{% include icon-eye.svg %}</span> 非官方英文文本库</a></p>

				<p><a target="_blank" href="https://drive.google.com/drive/folders/0BzWtYJgwf5A9NU1Vd0pMTG9HcmM"><span class="icon icon--link">{% include icon-link.svg %}</span> Rusty Quill官方英文文本</a></p>
				
				<p><a target="_blank" href="https://github.com/Snarp/magnus_archives_transcripts"><span class="icon icon--github">{% include icon-github.svg %}</span> <span class="username">原网站框架由Snarp/magnus_archives_transcripts提供</span></a></p>

				<p><a target="_blank" href="https://www.weibo.com/7397098560/"><span class="icon icon--link">{% include icon-link.svg %}</span> 我们的微博</a></p>

				<p><a href="mailto:{{ site.email }}"><span class="icon icon--email">{% include icon-email.svg %}</span> {{ site.email }}</a></p>
			</div><!-- /div.footer-col-2 -->
		</div><!-- /div.footer-col-wrapper -->
	</div><!-- /div.wrapper -->
</footer><!-- /div.site-footer -->
